body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    position: relative;
}

header {
    background-color: transparent; 
    color: #fff;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    /* border: 1px solid black; */
}

.container {
    max-width: 1600px;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;

    /* border: 1px solid black; */
}

.container h1{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_menu .button1{
    background-color: transparent;
    border: 0;
    color: #fff ;
}
.left_menu .button2{
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 5px 10px;
}

.left_menu button{
    margin-left: 20px;
}

.right_menu ul{
    display: flex;
}

.right_menu ul li{
    margin-right: 20px;
}

.header h1 {
    margin: 0;
    width: 120px;
    

}

header h1 a img{
    width: 100%;
}
/* leejj */
.menu_btn{color: white;width: 24px; height: 24px;
    position: absolute; text-indent: -9999px; display: none; cursor: pointer; top:50%; transform: translateY(-50%); right: 30px;}
.menu_btn span{display: block;width: 20px; height: 2px; background-color: white;}
.menu_btn span:nth-child(1){position: absolute; left: 0;top: 0;}
.menu_btn span:nth-child(2){position: absolute;  left: 0;top: 33%;  }
.menu_btn span:nth-child(3){position: absolute; left: 0;top: 66%; }
/* leejj */
.nav{
    /* margin-top: 20px; */
    padding-top: 20px;
    max-width: 1000px;
    margin: 0 auto;
    /* border: 1px solid black; */

}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

}

nav ul li {
    margin-left: 25px;
}

nav a {
    /* margin-top: 20px */
    font-size: 18px;
    color: #fff;

}

nav a:hover {
    color: orange;
}
#section{
    max-width: 1920px;
    width: 100%;

}

#section .slide_img{
    width: 100%;
    display: block;

}

#section .slide_img a {
    display: block;
    /* height: 900px;
    background:url("../img/img_slide1.jpg") no-repeat center center;
    background-size: cover; */

}
#section .slide_img a img{
    width: 100%;
}

.content2{
    margin: 160px auto; 
    text-align: center;
}

.content2_title{
    font-size: 60px; 
    margin-top: 150px;
}

.content2_title_sub{
    font-size: 14px;
}
.content3{
    width: 100%;
    margin: 160px auto; 
    text-align: center;
    /* padding-bottom: 50px; */
    /* border: 1px solid red; */
}

.content3_title{
    font-size: 60px; 
    margin-top: 150px;
}

.content3_title_sub{
    font-size: 14px;
}

.content3_img{
    display: flex;
}

.content3_img div img{
    height: 700px;
    width: 640px;
    object-fit: cover;
    overflow: hidden;
}







.footer{
    margin-top: 150px;
    background-color: #d1d1d1;
    height: 360px;
    /* width: 1920px; */
}

.footer_content{
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer_content div{
    width: 400px;
    height: 360px;
    padding: 30px 30px;
    /* border: 1px solid black; */
}

.footer_logo{
    /* width: 300px; */
    /* border: 1px solid black; */
    /* height: 360px; */
}

.footer_content2{
    
    /* border: 1px solid black; */
}

.footer_content3{
    /* border: 1px solid black; */

}

.footer_content4{
    /* width: 1020px; */
    /* border: 1px solid black; */
    text-align: right;
}

.footer_content2 li{
    margin-bottom: 10px;
}
.footer_content3 li{
    margin-bottom: 10px;
}
.footer_content4 li{
    margin-bottom: 10px;
}

.footer_content4 ul{
    display: flex;
    justify-content: flex-end;

}

.snsimg{
    /* text-align: right; */
    /* width: 30px; */
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 100px; */

}

.footer_content4 ul li{
    margin: 0 10px;
}

.footer_toggle {
    background-color: #fff;
    color: #666;
    border: 1px solid #666;
    padding: 10px 50px;
    cursor: pointer;
}